
Untitled.ipynb
test_df.csv
test_prediction.csv
election2019_draft.ipynb
election2019.ipynb
.ipynb_checkpoints/election2019_draft-checkpoint.ipynb
.ipynb_checkpoints/election2019-checkpoint.ipynb
.ipynb_checkpoints/Canada- election 2019-checkpoint.ipynb
election2019.ipynb
.ipynb_checkpoints/election2019-checkpoint.ipynb
scrapper/.ipynb_checkpoints/canadian_party_pr_scraper-checkpoint.ipynb
